.wrapper{
  height: 100%;
  .right-content{
    float: left;
    width: calc(100vw - 300px);
    height: 100vh;
    .right-top-content{
      overflow: scroll;
      box-sizing: border-box;
      padding-left: 40px;
      padding-right: 40px;
      height: 100px;
      border-bottom: solid #eeeeee;
      display: flex;
      .group-information{
        float: left;
          .group-name-on-right{
            font-size: 20px;
            color: #333333;
            padding-top: 35px;
          }
          .member-list{
            font-size: 12px;
            color: #999999;
            padding-top: 15px;
          }
        }
      .edit-button{
          float: right;
          margin-top: 30px;
          height: 40px;
          line-height: 40px;
          border: solid 1px #38AEF0;
          color: #38AEF0;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration: none;
        }
    }
    .right-middle-content{
      position: relative;
      height: calc(100vh - 190px);
      overflow: scroll;
      box-sizing: border-box;
      padding-top: 6px;
      padding-left: 40px;
      padding-right: 40px;
      .content{
        padding-top: 40px;
        &__header{
          &__user-name{
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
            display: inline;
          }
          &__message__date{
            font-size: 12px;
            color: #999999;
            display: inline;
            vertical-align: top;
          }
        }
        &__message__text{
            font-size: 14px;
            color: #434a54;
        }
      }
    }
    .right-bottom-content{
      position: absolute;
      box-sizing: border-box;
      width: calc(100% - 300px);
      height: 90px;
      background-color: #ddd;
      padding: 20px 40px;
      .form{
        width: 100%;
        height: 50px;
        display: flex;
        .new_message{
          display: flex;
          width: 100%;
          .input-box{
            width: 100%;
            display: flex;
            position: relative;
              .form__message{
                padding-left: 10px;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                border-width: 0;
              }
              .form__image{
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                font-size: 1.3rem;
                .icon{
                }
                .hidden {
                  display: none;
                }
              }
          }
        }
        .form__submit{
          line-height: 50px;
          margin-left: 15px;
          background-color: #38AEF0;
          color: white;
          padding: 0 30px;
        }
      }
    }
  }
}
